.main {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #6b93f76e;
  display: flex;
}

.title{
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding: 2px;
  margin-bottom: 10px;
}

.headr{
  background-color: rgb(40, 113, 240);
  border: transparent;
  border-radius: 16px;
  padding: 20px;
}

.inout{
  border: none;
  padding: 8px;
  font-size: 16px;
  
}

.buttonsubmit{
  background-color: #84a5f7;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
  padding: 8px;
}

.todolist{
  padding: 0;
}

ul li:hover{
  background-color: gray !important;
}


.todoitem{
  font-size: 16px;
  padding: 8px;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

ul li:nth-child(odd) {
  background: gainsboro;
}

.formg{
  margin: 20px;
  background-color: red !important;
}